
body{
    margin:0px;
}

.login-background-panel{
	background-image: url('/assets/image/login_bg.jpg');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100% !important;
	height: 100vh !important;
	display: table;
	position: absolute;

}

.login-modal-panel{
    margin: auto;	
    max-width: 820px;
	color: white;
	padding: 20px ;
}

.login-item-div{
    display:inline-block;
    margin-right:10px;
    vertical-align:top;
    margin-bottom:22px;
}

.login-item-label{
    color:white;
    vertical-align:middle;
    font-size:14px;
    line-height:40px;
    box-sizing:border-box;
    width:150px;
    text-align: right;
}

.login-item-content{
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    position: relative;
    font-size: 14px;
}

.login-item-input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.login-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom:10px;
}

.button-primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

.button-success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    margin-left:10px;
}

.button-primary:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
}

.button-success:hover {
    background: #85ce61;
    border-color: #85ce61;
    color: #fff;
}